<!DOCTYPE html>
<html>
<body>

    
<button type="button" class="btn btn-default" onclick="zobrazForm()" >Přidat další článek</button>

    
<div class="container" id="add" style="display:none;">
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">Prosíme, vyplňte k Vašemu článku pár základních údajů:
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nazev">Název</label>
		   	<div class="col-sm-7">
		 		<input type = 'text' name ='nazev' maxlength="25" class='form-control' required >
			</div>
    </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="popis">Stručný popis</label>
			<div class="col-sm-7">
				<textarea class="form-control" maxlength="250" name="abstract" required rows="10"></textarea>
			</div>
    </div>
    <div class="form-group">
		<label class="control-label col-sm-2" for="fileToUpload"><b>Vybrat soubor:</b></label>
            <div class="col-sm-3">   
            <input type="file" name="fileToUpload" id="fileToUpload">
            </div>
    </div>
    <div class="form-group">        
      		<div class="col-sm-offset-2 col-sm-10"> 
    			<input type='submit' class="btn btn-info"  value='Nahrát na server' name='submit'>
			</div>
    </div>
</form>
</div>
    
<script>
function zobrazForm() {
    var x = document.getElementById("add");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
} 
</script>

</body>
</html>
