<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Registrace</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" action="" method="post">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
                    <div class="form-group">
						<label for="reg_fullname" class="sr-only">Celé jméno</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Celé jméno">
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Uživatelské jméno</label>
						<input type="text" class="form-control" id="username" name="username" placeholder="Uživatelské jméno">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Heslo</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Heslo">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Potvrzení hesla</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="Potvrzení hesla">
					</div>
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">E-mail</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
					</div>
<!--					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">Souhlasím s <a href="#">pravidly konference</a></label>
					</div>
-->
				</div>
				<button type="submit" class="btn btn-default">Registrovat</button>
			</div>
			<div class="etc-login-form">
                <br>
				<p>Už máš účet? <a href="index.php?page=login">Přihlásit zde</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>